<div>

    <div class="product_hero">
        <div class="product_head">
            <h1 style="color: black; font-size: 70px; font-weight: bold;">End Of Season Sale</h1>
            <h2 style="font-size: 50px; font-weight: bold; color: rgb(49, 223, 165);">On Casual Wear</h2>
            <h3 style="font-size: 50px; font-weight: bold; color: rgb(223, 37, 37);">UP TO 50% OFF</h3>
            <button class="btn btn-danger">Shop Now</button>
        </div>
        <div>
            <img src="assets/mens_wear_bg.jpg" id="mens_bg">
        </div>
    </div>

    <h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px; font-weight: bold; color: rgb(5, 5, 110);">Our Products</h1>
    <div class="row products" >

            <div class="row g-3" >
               
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col prod" id="arrival1" *ngFor="let product of productDetails">
                    
                    <div class="card arrival" >
                        <img [src]="findImagePath(product.id)" class="card-img-top displayImg" alt="..." style="height: 195px;">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title" style="margin-top: 7px;">{{product.name}}</h5>
                        <p>{{product.price}}</p>
                        <button class="cart add-cart cart-1" (click)="addToCart(product.id)" [disabled]="product.isAddedToCart" style="border: none;">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span style="margin-left: 20px;" id="msg1">
                              {{ product.isAddedToCart ? 'Added to Cart' : 'Add to Cart' }}
                            </span>
                          </button>
                                                  <button class="btn btn-primary buy_now"(click)="onSelect(product.id)" >Buy Now</button>
                        </div>
                    </div>
                </div> 
            <div>
</div>