<div>

    <table class="table" style="color: white;">
        <thead class="table">
            <tr style="color: black; background-color: white;">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Company</th>
                <th scope="col">Technology</th>
                <th scope="col">Details</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of personsList">
                <th scope="row">{{person.id}}</th>
                <td>{{person.Name}}</td>
                <td>{{person.company}}</td>
                <td>{{person.technology}}</td>
                <td><button class="btn btn-outline-info" (click)="onSelect(person.id)">More Details</button></td>
              </tr>
        </tbody>
      </table>

</div>