/* You can add global styles to this file, and also import other style files */
/* font-family: 'Oswald', sans-serif; */
*{
    margin: 0;
    padding: 0;
}


:root{
    --deepOrange: #E31B23;
    --deepBlack: #000000;
}
.text{
    font-family: 'Oswald', sans-serif;
}
.nav-link{
    font-size: 1rem;
    letter-spacing:2px;
    font-family: 'Oswald', sans-serif;
}

#hero_section{
    position: relative;
    max-height: 520px; 
    max-width: 1300px;
   
}
#hero_img{
    
    height: 500px;
}
#hero_right{
    
    bottom: 10%;
    right: 5%;
    position: absolute;
}
.hero_text1{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
}
.hero_text2{
    
    color: white;
}
.shop_now>span{
    color: white;
    
}
.shop_now{
    padding-bottom: 12px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
   background-color: var(--deepOrange);
}
.shop_now:hover{
    background-color: #ca0d13;
}

#new_arrivals{
   
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.cart{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E31B23;
    color: white;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;

}
.buy_now{
    margin-top: 10px;
    width: 100%;
}
.cart:hover{
    background-color: #ca0d13;
    box-shadow: 3px 3px 3px gray;
}
.arrival:hover{
    transform: scale(0.95);
    transition: all 0.5s ease-in-out;
    box-shadow: 5px 5px 5px gray;
}
.arrival{
    transition: all 0.5s ease-in-out;
}


footer{
    transform: translateY(-18px);
   
    background-color: #000000;
   
}
.foot{

    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot_box a{
    text-decoration: none;
    color: white;
}
.foot_box{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    
    color: white;
}
.social_media{
    font-size: 30px;
    color: white;
    display: flex;
    gap: 10px;
}
.social_media>a:hover{
    color: var(--deepOrange);
}