<div class="home">

  <h1>EMPLOYEE DETAILS</h1>

  <div class="companyTable">
    <table class="table table-hover">
      <thead class="table table-dark">
        <tr>
          <th>Employee Id</th>
          <th>Name</th>
          <th>Technology</th>
          <th>Experience</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of companyDetails">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.technology }}</td>
          <td>{{ employee.experience }}</td>
          <td>{{ employee.address }}</td>

          <td>
            <button
              class="btn btn-success btn_action"
              (click)="editEmployee(employee)"
            >
              <i class="fa-solid fa-pen-to-square"></i>Edit
            </button>
            <button
              class="btn btn-danger btn_action"
              (click)="deleteRow(employee.id)"
            >
              <i class="fa-solid fa-trash"></i>Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="deleted == true">
    <div class="deleted">Deleted Successfully...</div>
  </div>
  
</div>
