<div class="main_page_wrapper">
 
  <div class="hero">
    <div class="hero_sec">
       <div class="header">Gitam University</div>
        <div id="right_hero">
            <img src="assets/college_bg.jpg" class="hero_img">
        </div>
    </div>
  
</div>
<h1 class="course_head"  id="courses">Courses Offered</h1>
<div class="courses">
   
  <div class="row">
    <div class="card">
      <img src="assets/cse.jpg" class="card-img-top card-img" alt="..." style="height: 200px;">
      <div class="card-body">
        <h5 class="card-title">Computer Science Engineering</h5>
        <p class="card-text">We offer various subcourses in CSE like AI, Cyber Security.</p>
        <a href="#" class="btn btn-primary">Know More</a>
      </div>
    </div>
    <div class="card ">
      <img src="assets/ece.jpg" class="card-img-top card-img" alt="..." style="height: 200px;">
      <div class="card-body">
        <h5 class="card-title">Electronics and Communication Engineering</h5>
        <p class="card-text">We offer various subcourses in ECE like Robotics, Embedded Systems.</p>
        <a href="#" class="btn btn-primary">Know More</a>
      </div>
    </div>
    <div class="card">
      <img src="assets/mech.jpg" class="card-img-top card-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mechanical Engineering</h5>
        <p class="card-text">We offer various subcourses in Mechanical Engineering like Thermodynamics, Fluid Mechanics.</p>
        <a href="#" class="btn btn-primary">Know More</a>
      </div>
    </div>

    <div class="card">
        <img src="assets/civil.jpg" class="card-img-top card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Civil Engineering</h5>
          <p class="card-text">Structural engineering is a specialized field within civil engineering </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
      
  </div>
</div>

<div class="carrer">
    <h2 id="carrer_head">
        Carrer Guidance
    </h2>
    <div class="carrer_div">
       
        <div class="carrer_left_imag">
           
            <h3 id="carrer_sub">
                Transforming Students Into Professionals
            </h3>
            <img src="assets/Student_GITAM.jpg">
        </div>
        <div class="carrer_ontent">
            
            <p>
                GITAM Career Guidance Cell is a training and placement center dedicated to helping students develop employable skills, secure positions, and create a well-rounded personality.
                <br><br>

To shape student careers, we provide dedicated placement officers, training programmes, and educational webinars.
<br><br>
> Career Advice and Development
<br><br>
> Career Guidance Centres at GITAM
            </p>
        </div>
        <div class="carrer_right_image">
            <img src="assets/CAREER-GUIDANCE.jpg">
        </div>
    </div>
</div>

<div class="placements" id="placement">
    <div class="placement_head">
        <h2>PLACEMENTS</h2>
        <h3>Top Recruiting Companies</h3>
    </div>
    <div class="companies">
        <img src="assets/placements/Adobe.jpg">
        <img src="assets/placements/Amadeus.jpg">
        <img src="assets/placements/amazon_1.jpg">
        <img src="assets/placements/Capgemini.jpg">
        <img src="assets/placements/Cognizant.jpg">
        <img src="assets/placements/Deloitte.jpg">
        <img src="assets/placements/E&Y.jpg">
        <img src="assets/placements/JP-Morgan.jpg">
        <img src="assets/placements/pwc.jpg">
        <img src="assets/placements/State-Street.jpg">
        <img src="assets/placements/TCS.jpg">
        <img src="assets/placements/Tiger-Analytics.jpg">
    </div>
</div>
 
  <footer>
    <div class="footer_divs">
        <div>
            <ul>
                <li class="liHead"> Academics </li>
                <br>
                <li>Campuses</li>
                <li> Blended Learning</li>
                <li> Knowledge Resource Center</li>
                <li> Evaluation</li>
                <li> Admissions</li>
                <li> Resources</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="liHead"> Important Links</li>
                <br>
                <li>About</li>
                <li> Accreditations</li>
                <li> NIRF</li>
                <li> Research</li>
                <li> GITAM Career Guidance Centre</li>
                <li> Venture Development Centre</li>
            </ul>
        </div>
        <div>
            <p class="liHead">Contact Us</p>
            <p>Gandhi Nagar, Rushikonda,<br>
                Visakhapatnam - 530045<br>
                Andhra Pradesh, India</p>
                <p>0891-2840501<br>
                    registrar@gitam.edu</p>
                    <p><a href="https://www.gitam.edu/admissions#visakhapatnam_491">Contact Visakhapatnam campus</a></p>
        </div>
        <div class="social_media">
            <i class="fab fa-facebook"></i>

    <i class="fab fa-twitter"></i>

    <i class="fab fa-instagram"></i>

    <i class="fab fa-linkedin"></i>
        </div>
    </div>
  </footer>
  
  

</div>
