<div class="main_page_wrapper">
 
  <div class="hero">
    <div class="hero_sec">
       <div class="header">Gitam University</div>
        <div id="right_hero">
            <img src="assets/college_bg.jpg">
        </div>
    </div>
  
  </div>
  
  <div class="courses">
    <div class="card" style="width: 18rem;">
        <img src="assets/cse.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">COMPUTER SCIENCE IN TECHNOLOGY</h5>
          <p class="card-text">We offer various subcourses in CSE like AI,Cyber Security.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/ece.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Electronics and Communication Engineering</h5>
          <p class="card-text">We offer various subcourses in CSE like AI,Cyber Security.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/mech.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mechanical Engineering</h5>
          <p class="card-text">We offer various subcourses in CSE like AI,Cyber Security.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  
  </div>
 
  <footer>
    <div>
        <ul>
            <li>Home</li>
            <li>Placements</li>
            <li>Courses Offered</li>
            <li>Login</li>
        </ul>
    </div>
  </footer>
  
  

</div>
