<div class="content">
    <h1>About Us</h1>
    <p>Wikipedia is a free online encyclopedia that anyone can edit in good faith, and tens of millions already have!
        <br><br>
        Wikipedia's purpose is to benefit readers by containing information on all branches of knowledge. Hosted by the Wikimedia Foundation, Wikipedia consists of freely editable content, whose articles also have numerous links to guide readers to more information.
        <br><br>
        Written collaboratively by largely anonymous volunteers, anyone with Internet access and not blocked, can write and make changes to Wikipedia articles (except in limited cases where editing is restricted to prevent disruption or vandalism). Since its creation on January 15, 2001, Wikipedia has grown into the world's largest reference website, attracting over a billion visitors monthly.<br><br> It currently has more than sixty million articles in more than 300 languages, including 6,638,495 articles in English with 129,620 active contributors in the past month.</p>

        <div>
            <form>
                <label class="form-label">Name</label>
                <input class="form-control" placeholder="Enter Your Name" value="{{FirstName}}">
                <label class="form-label">Email</label>
                <input class="form-control" placeholder="Enter Your Email" value="{{Email}}">
                <button type="submit" class="btn btn-info mt-3" (click)="show()">Submit</button>
        
            </form>
        </div>

</div>
