<div class="wrapper">

    <!-- Navigation Bar -->
    <nav>
        <div id="nav_bar">
            <h1 id="icon_name">Siva Kumar</h1>

            <div class="nav_items">

                <a href="#home" class="nav_list">Home</a>
                <a href="#skills" class="nav_list">Skills</a>
                <a href="#projects" class="nav_list">Projects</a>
                <a href="#resume" class="nav_list">Resume</a>
                <a href="#testimonials" class="nav_list">Testimonials</a>
                <a href="#contactMe" class="nav_list">Contact Me</a>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero_section">

        <div class="hero_left">
            <h1 id="hero_heading">Hi, I am Siva Kumar</h1>
            <h2 id="hero_para">I am a Full Stack Developer, Data Engineer</h2>
            <a href="assets/Siva Kumar Kalluri Resume.pdf" download class="resume"><button class="btn btn-outline-info" > <span>Resume</span><i class="fa-solid fa-download download"></i></button></a>
        </div>
        <!-- <div class="hero_right">
            <img src="assets/profile_photo.png" id="profile_photo">
        </div> -->
    </section>


    <!-- Skills -->
    <section id="skills">

        <div class="skills_left">
            <h1 id="skills_head"> MyTech Stack</h1>
<p>As a skilled web developer, I have extensive knowledge in HTML, CSS, JavaScript, React JS, Node Js, Express Js, and MongoDB.<br><br> I have a strong background in data engineering, programming, and database management systems such as MySQL. With expertise in SSIS, SSAS, Azure Data Factory, and Power BI, I can create effective data pipelines, automated ETL processes, and insightful dashboards that are tailored to business needs.

<br><br>I have experience in designing microcontroller-based systems using Embedded C, as well as programming in languages like C, C++, Python, and Java. My proficiency in Git/GitHub, Linux, and SAS allows me to manage projects effectively. Overall, my technical skills, ability to work collaboratively, and dedication to delivering high-quality work make me an asset to any team.
</p>
        </div>

        <div class="skills_right">
            <img src="assets/skills/C++.png" class="skill_icon">
            <img src="assets/skills/C.png" class="skill_icon">
            <img src="assets/skills/CSS.png" class="skill_icon">
            <img src="assets/skills/Git.svg" class="skill_icon">
            <img src="assets/skills/Github.svg" class="skill_icon">
            <img src="assets/skills/Java.png" class="skill_icon">
            <img src="assets/skills/HTML.png" class="skill_icon">
            <img src="assets/skills/JS.png" class="skill_icon">
            <img src="assets/skills/NodeJs.png" class="skill_icon">
            <img src="assets/skills/MongoDB.png" class="skill_icon">
            <img src="assets/skills/Python.png" class="skill_icon">
            <img src="assets/skills/React.png" class="skill_icon">
        </div>

    </section>


    <!-- Projects -->
    <section id="projects">
        <h1 id="project_head">Projects</h1>
        <div>
            <div id="project1">
                <div class="project-skills-container">
                    <img src="assets/skills/Python.png" alt="" class="project-skill" id="python">
                    <img src="assets/skills/Keras.jpg" alt="" class="project-skill" id="keras">
                    <img src="assets/skills/Tensorflow.png" alt="" class="project-skill" id="tensor">
                    <img src="assets/skills/ML.png" alt="" class="project-skill" id="ml">
                    <img src="assets/skills/OpenCV.webp" alt="" class="project-skill" id="opencv">
                    <img src="assets/skills/Raspberry.png" alt="" class="project-skill" id="rasppi">
                    
                </div>
                <h2 class="project-heading">Temperature and Mask Scan Entry System</h2>
                <div class="project-subHeading" style="font-weight: bold;">It is an IOT based project done using RaspberryPi for detecting the mask and temperature of a person.
                </div>
                <div class="btn-know">
                    <a href="https://github.com/sivakumarkalluri/IOT-Technology-Based-Temperature-and-Mask-Scan-Entry-System#readme" target="_blank">
                    <button class="btn-project btn btn-info">Read More</button></a>
                    <a href="https://github.com/sivakumarkalluri/IOT-Technology-Based-Temperature-and-Mask-Scan-Entry-System.git" target="_blank">
                    <i title="GitHubLink" class="fa-brands fa-github icon know"></i>
                    </a>
                    <a href="https://drive.google.com/drive/folders/10J0G-qkLCdJM3ExcJsdVPyfsL13xHJU2?usp=share_link" target="_blank">
                    <i title="Demo Link" class="fa-solid fa-link icon know"></i>
                    </a>
                </div>
            </div>
            <div id="project2">
                <div class="project-skills-container">
                    <img src="assets/skills/Python.png" alt="" class="project-skill" id="python">
                    <img src="assets/skills/Keras.jpg" alt="" class="project-skill" id="keras">
                    <img src="assets/skills/Tensorflow.png" alt="" class="project-skill" id="tensor">
                    <img src="assets/skills/ML.png" alt="" class="project-skill" id="ml">
                    <img src="assets/skills/OpenCV.webp" alt="" class="project-skill" id="opencv">
                    
                </div>
                <h2 class="project-heading" style="color: black;">Driver Drowsiness detection and Alerting System</h2>
                <div class="project-subHeading" style="color: black; font-weight: bold;">A real-time drowsiness detection system for drivers, which alerts the driver if they fall asleep due to fatigue while still driving.
                </div>
                <div class="btn-know">
                    <a href="https://github.com/sivakumarkalluri/Driver-Drowsiness-Detection-and-Alerting-System.git" target="_blank">
                    <button class="btn-project btn btn-info">Read More</button></a>
                    <a href="https://github.com/sivakumarkalluri/Driver-Drowsiness-Detection-and-Alerting-System.git" target="_blank">
                    <i title="GitHubLink" class="fa-brands fa-github icon know"></i>
                    </a>
                    <a href="https://github.com/sivakumarkalluri/Driver-Drowsiness-Detection-and-Alerting-System.git " target="_blank">
                    <i title="Demo Link" class="fa-solid fa-link icon know"></i>
                    </a>
                </div>

            </div>
            <div id="project3">
                <div class="project-skills-container">
                    <img src="assets/skills/HTML.png" alt="" class="project-skill" id="html">
                    <img src="assets/skills/CSS.png" alt="" class="project-skill" id="css">
                    <img src="assets/skills/Tailwind.png" alt="" class="project-skill" id="tailwind">
                   
                    
                </div>
                <h2 class="project-heading" style="color: white; opacity: 200%; font-weight: bold;">RazorPay Clone</h2>
                <div class="project-subHeading" style="color: white; opacity: 200%; font-weight: bold;">This is an clone of RazorPay Website. It is an responsive Website
                </div>
                <div class="btn-know">
                    <a href="https://github.com/sivakumarkalluri/RazorPay-Clone-FrontEnd" target="_blank">
                    <button class="btn-project btn-info btn">Read More</button></a>
                    <a href="https://github.com/sivakumarkalluri/RazorPay-Clone-FrontEnd" target="_blank">
                    <i title="GitHubLink" class="fa-brands fa-github icon know"></i>
                    </a>
                    <a href="https://sivakumarkalluri-razorpay-clone.netlify.app/" target="_blank">
                    <i title="Demo Link" class="fa-solid fa-link icon know"></i>
                    </a>
                </div>

            </div>
            <div id="project4">
                <div class="project-skills-container">
                    <img src="assets/skills/HTML.png" alt="" class="project-skill" id="html">
                    <img src="assets/skills/CSS.png" alt="" class="project-skill" id="css">
                    <img src="assets/skills/Tailwind.png" alt="" class="project-skill" id="tailwind">
                   
                    
                </div>
                <h2 class="project-heading" style="color: white; opacity: 200%; font-weight: bold;">Discord Clone</h2>
                <div class="project-subHeading" style="color: white; opacity: 200%; font-weight: bold;">This is an clone of Discord Website. It is an responsive Website
                </div>
                <div class="btn-know">
                    <a href="https://github.com/sivakumarkalluri/RazorPay-Clone-FrontEnd" target="_blank">
                    <button class="btn-project btn btn-info">Read More</button></a>
                    <a href="https://github.com/sivakumarkalluri/RazorPay-Clone-FrontEnd" target="_blank">
                    <i title="GitHubLink" class="fa-brands fa-github icon know"></i>
                    </a>
                    <a href="https://sivakumarkalluri-razorpay-clone.netlify.app/" target="_blank">
                    <i title="Demo Link" class="fa-solid fa-link icon know"></i>
                    </a>
                </div>

            </div>

            

        </div>
    </section>


    <!-- Resume  -->
    <section id="resume">
        <h1 id="resume_head"> Resume</h1>
        <div class="resume_box">
            <div class="box_e">
                <h5>Data Engineer Intern</h5>
                <h6 style="margin-top: 10px;">Cognizant</h6>
                <p style="margin-top: 10px;">Feb 2022 to Sep 2022</p>
                
            </div>

            <div class="box_e">
                <h5>Embedded systems Intern</h5>
                <h6 style="margin-top: 10px;">APSSDC</h6>
                <p style="margin-top: 10px;">May 2021 to Aug 2021</p>
                
            </div>

            <div class="box_e">
                <h5>Bachelor Of Technology</h5>
                <p style="margin-top: 10px;">Jun 2018 to May 2022</p>
                <p style="margin-top: 10px;">GItam University</p>
                <p style="margin-top: 10px;">Bengaluru, India</p>
            </div>
            <div class="box_e">
                <h5>Class XII</h5>
                <p style="margin-top: 10px;">Jun 2016 to May 2018</p>
                <p style="margin-top: 10px;">Sri Chaithanya, Jr College</p>
                <p style="margin-top: 10px;">Vijayawada, India</p>
            </div>
            <div class="box_e">
                <h5>Class X</h5>
                <p style="margin-top: 10px;">Jun 2015 to May 2016</p>
                <p style="margin-top: 10px;">Ratnam High School</p>
                <p style="margin-top: 10px;">Nellore, India</p>
            </div>

        </div>

    </section>


    <!-- Testimonials -->
    <!-- Angular Router Component -->
    <section id="testimonials">
        <h1 id="project_head">Testimonials</h1>
        
            <router-outlet></router-outlet>
        

    </section>

    <!-- Contact Me -->
    <section id="contactMe">
        <div class="container">
            <h1 class="contactus-heading">Contact me</h1>
            <h3 class="contactus-subHeading">Questions, thoughts, or just want to say hello? </h3>
            <div class="contactus-form-container">
                <form action="" class="form">
                    <div class="formfield-container">
                        <input class="formfield"
                            type="text"
                            name="name"
                            id=""
                            placeholder="Enter your name"/>

                        <input class="formfield"
                        type="email"
                        name="email"
                        id=""
                        placeholder="Enter your email address"/>

                        <input class="formfield"
                            type="text"
                            name="subject"
                            id=""
                            placeholder="Enter your subject"/>

                        <textarea name="message"
                            id="" cols="30" rows="7" class="formfield formfield-textarea"
                            placeholder="Enter your message">

                        </textarea>
                        
                    </div>

                    <div>
                        <button type="submit" class="btn-submit">
                          Send Message
                        </button>
                      </div>
                </form>
            </div>
        </div>
    </section>


    <footer>
        <div class="d-flex justify-content-between">
            <div class="footer_left">
                <h2>Siva Kumar</h2>
                <p>Home</p>
                <p>Projects</p>
                <p>Resume</p>
                <p>Testimonials</p>
                <p>Contact Us</p>

            </div>
            
            <div class="footer_right">
                <a href="#"><i class="fa-brands fa-instagram" style="font-size: 30px; margin-right: 20px; color: white;"></i></a>
                <a href="#"><i class="fa-brands fa-facebook" style="font-size: 30px; margin-right: 20px; color: white;"></i></a>
                <a href="#"><i class="fa-brands fa-twitter" style="font-size: 30px; margin-right: 20px; color: white;"></i></a>

            </div>

        </div>

      </footer>


</div>

