
<div class="students_table" style="width: 600px; margin: auto;">
    <h1 style="font-weight: bold; text-shadow: 3px 3px 3px grey; color: rgb(255, 255, 255);">Dashboard</h1>
    <table class="table table-striped-columns align-center">
        <thead style="background-color: rgb(71, 71, 198); color: white;">
            <tr style="background-color: rgb(84, 84, 231);">
              <th scope="col" style="background-color: rgb(84, 84, 231);">Property</th>
              <th scope="col" style="background-color: rgb(84, 84, 231); color: white;">Value</th>
             
            </tr>
          </thead>
          <tbody class="table-dark ">
            <tr>
              <th scope="row">Total Students </th>
              <td >{{studentCount}}</td>
            </tr>
            <tr>
                <th scope="row">Total Fees yet to pay</th>
                <td >Rs. {{TotalFees}}</td>
            </tr>
            <tr>
                <th scope="row">Male Students </th>
                <td >{{ maleCount}}</td>
            </tr>
            <tr>
                <th scope="row">Female Students</th>
                <td >{{femaleCount}}</td>
            </tr>
          </tbody>
        
      </table>
      
</div>


 
