<div class="admin_body">
    <h1 style="text-align: center; font-size: 40px; font-weight: bold;color: rgb(4, 4, 92);">Products Data</h1>
    <button routerLink="/addPage" class="add_btn btn btn-primary" style="margin-left: 20px;">
        <i class="fa-solid fa-user-plus"></i>
        
        Add Product</button>
    <div class="productTable">

        <table class="table table-hover">
            <thead class="table table-dark">
                <tr>
                    <th>Product Image</th>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Description</th>   
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let product of productDetails">
                    <td><img src="{{product.image}}" class="crud_prod_image"></td>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.discount}}</td>
                    <td>{{product.description}}</td>
                   
                    <td>
                        <button [routerLink]='["/editPage",product.id]' class="btn btn-success btn_action">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Edit
                        </button>
                        <button (click)="delete(product.id)" class="btn btn-danger btn_action">
                            <i class="fa-solid fa-trash"></i>
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- <form class="searchID">
            <label class="col-form-label">Enter Id to Search</label>
            <input type="number" placeholder="Enter ID" [(ngModel)]="ID" name="id" class="form-control">
            <button (click)="findID()" class="btn btn-primary"> <i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form> -->
        
        
    </div>
    
    
</div>