<div>
    <form [formGroup]="studentsForm" (ngSubmit)="saveForm()">
        <label class="form-label">ID</label>
        <input type="number" formControlName="id" class="form-control" placeholder="ID">
        <label class="form-label">Name</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Enter the Student Name">
        <label class="form-label">Age</label>
        <input type="number" formControlName="age" class="form-control" placeholder="Enter the Age">
        <label class="form-label">Course</label>
        <input type="text" formControlName="course" class="form-control" placeholder="Enter the Course">
        <label class="form-label">Semester</label>
        <input type="number" formControlName="semester" class="form-control" placeholder="Enter the Semester">
        <label class="form-label">Fees Due</label>
        <input type="number" formControlName="feesDue" class="form-control" placeholder="Enter the Fees to be Paid">
        <label class="form-label">Exams Completed</label>
        <input type="number" formControlName="examsCompleted" class="form-control" placeholder="Enter the Exams to be completed">
        <button class="save btn btn-success">Save</button>

    </form>
</div>