.cart_prod_image{
    width: 150px;
    height: 150px;
}
.cartTable{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 1000px;
    
}
.cartHeading{
    font-weight: bold;
    margin-left: 20px;
    color: rgb(5, 5, 87);
}