.addPage{
    background-image: url("../../assets/bg3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    margin-top: 50px;
}